<footer class="border-top footer text-muted text-center mt-4 py-3" role="contentinfo">
    <div class="container">
        <p>&copy; @DateTime.Now.Year - Contoso University101 | Built with ASP.NET Core MVC</p>
    </div>
</footer>
